@model BusinessObject.Member

<form asp-controller="Home" asp-action="Login" method="post">
  <div class="mb-3">
    <label asp-for="Email" for="exampleInputEmail1" class="form-label">Email address</label>
    <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label asp-for="passWord" for="exampleInputPassword1" class="form-label">Password</label>
    <input asp-for="passWord" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>